body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    font-size: 1.4rem;
    width: 100%;
    height: 20%;
    background-color: #077c4f;
    text-align: center;
    padding: 20px 0;
    box-sizing: border-box;
    
}

#container {
    display: flex;
    height: 80%;
}

#sidebar {
    font-size: 1.4rem;
    width: 20%;
    background-color: #046674;
    padding: 20px;
    box-sizing: border-box;
}

#content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding: 0;
}

li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px 0;
}

li a:hover {
    background-color: #ececec;
}
